node_modules
.DS_Store
*.class
test.*
*
!/**/
!*.*
node_modules/.DS_Store
node_modules/ansi-align/CHANGELOG.md
node_modules/ansi-align/index.js
node_modules/ansi-align/package.json
node_modules/ansi-align/README.md
node_modules/ansi-align/node_modules/string-width/index.js
node_modules/ansi-align/node_modules/string-width/package.json
node_modules/ansi-align/node_modules/string-width/readme.md
node_modules/ansi-regex/index.js
node_modules/ansi-regex/package.json
node_modules/ansi-regex/readme.md
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/boxen/index.d.ts
node_modules/boxen/index.js
node_modules/boxen/package.json
node_modules/boxen/readme.md
node_modules/camelcase/index.d.ts
node_modules/camelcase/index.js
node_modules/camelcase/package.json
node_modules/camelcase/readme.md
node_modules/chalk/index.d.ts
node_modules/chalk/package.json
node_modules/chalk/readme.md
node_modules/chalk/source/index.js
node_modules/chalk/source/templates.js
node_modules/chalk/source/util.js
node_modules/cli-boxes/boxes.json
node_modules/cli-boxes/index.d.ts
node_modules/cli-boxes/index.js
node_modules/cli-boxes/package.json
node_modules/cli-boxes/readme.md
node_modules/color-convert/CHANGELOG.md
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/package.json
node_modules/color-convert/README.md
node_modules/color-convert/route.js
node_modules/color-name/index.js
node_modules/color-name/package.json
node_modules/color-name/README.md
node_modules/emoji-regex/index.d.ts
node_modules/emoji-regex/index.js
node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/emoji-regex/package.json
node_modules/emoji-regex/README.md
node_modules/emoji-regex/text.js
node_modules/emoji-regex/es2015/index.js
node_modules/emoji-regex/es2015/text.js
node_modules/has-flag/index.d.ts
node_modules/has-flag/index.js
node_modules/has-flag/package.json
node_modules/has-flag/readme.md
node_modules/is-fullwidth-code-point/index.js
node_modules/is-fullwidth-code-point/package.json
node_modules/is-fullwidth-code-point/readme.md
node_modules/string-width/index.d.ts
node_modules/string-width/index.js
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/string-width/node_modules/ansi-regex/index.d.ts
node_modules/string-width/node_modules/ansi-regex/index.js
node_modules/string-width/node_modules/ansi-regex/package.json
node_modules/string-width/node_modules/ansi-regex/readme.md
node_modules/string-width/node_modules/emoji-regex/index.d.ts
node_modules/string-width/node_modules/emoji-regex/index.js
node_modules/string-width/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/string-width/node_modules/emoji-regex/package.json
node_modules/string-width/node_modules/emoji-regex/README.md
node_modules/string-width/node_modules/emoji-regex/text.js
node_modules/string-width/node_modules/emoji-regex/es2015/index.js
node_modules/string-width/node_modules/emoji-regex/es2015/text.js
node_modules/string-width/node_modules/is-fullwidth-code-point/index.d.ts
node_modules/string-width/node_modules/is-fullwidth-code-point/index.js
node_modules/string-width/node_modules/is-fullwidth-code-point/package.json
node_modules/string-width/node_modules/is-fullwidth-code-point/readme.md
node_modules/string-width/node_modules/strip-ansi/index.d.ts
node_modules/string-width/node_modules/strip-ansi/index.js
node_modules/string-width/node_modules/strip-ansi/package.json
node_modules/string-width/node_modules/strip-ansi/readme.md
node_modules/strip-ansi/index.d.ts
node_modules/strip-ansi/index.js
node_modules/strip-ansi/package.json
node_modules/strip-ansi/readme.md
node_modules/supports-color/browser.js
node_modules/supports-color/index.js
node_modules/supports-color/package.json
node_modules/supports-color/readme.md
node_modules/type-fest/base.d.ts
node_modules/type-fest/index.d.ts
node_modules/type-fest/package.json
node_modules/type-fest/readme.md
node_modules/type-fest/source/async-return-type.d.ts
node_modules/type-fest/source/asyncify.d.ts
node_modules/type-fest/source/basic.d.ts
node_modules/type-fest/source/conditional-except.d.ts
node_modules/type-fest/source/conditional-keys.d.ts
node_modules/type-fest/source/conditional-pick.d.ts
node_modules/type-fest/source/entries.d.ts
node_modules/type-fest/source/entry.d.ts
node_modules/type-fest/source/except.d.ts
node_modules/type-fest/source/fixed-length-array.d.ts
node_modules/type-fest/source/iterable-element.d.ts
node_modules/type-fest/source/literal-union.d.ts
node_modules/type-fest/source/merge-exclusive.d.ts
node_modules/type-fest/source/merge.d.ts
node_modules/type-fest/source/mutable.d.ts
node_modules/type-fest/source/opaque.d.ts
node_modules/type-fest/source/package-json.d.ts
node_modules/type-fest/source/partial-deep.d.ts
node_modules/type-fest/source/promisable.d.ts
node_modules/type-fest/source/promise-value.d.ts
node_modules/type-fest/source/readonly-deep.d.ts
node_modules/type-fest/source/require-at-least-one.d.ts
node_modules/type-fest/source/require-exactly-one.d.ts
node_modules/type-fest/source/set-optional.d.ts
node_modules/type-fest/source/set-required.d.ts
node_modules/type-fest/source/set-return-type.d.ts
node_modules/type-fest/source/stringified.d.ts
node_modules/type-fest/source/tsconfig-json.d.ts
node_modules/type-fest/source/union-to-intersection.d.ts
node_modules/type-fest/source/utilities.d.ts
node_modules/type-fest/source/value-of.d.ts
node_modules/type-fest/ts41/camel-case.d.ts
node_modules/type-fest/ts41/delimiter-case.d.ts
node_modules/type-fest/ts41/index.d.ts
node_modules/type-fest/ts41/kebab-case.d.ts
node_modules/type-fest/ts41/pascal-case.d.ts
node_modules/type-fest/ts41/snake-case.d.ts
node_modules/widest-line/index.d.ts
node_modules/widest-line/index.js
node_modules/widest-line/package.json
node_modules/widest-line/readme.md
node_modules/wrap-ansi/index.js
node_modules/wrap-ansi/package.json
node_modules/wrap-ansi/readme.md
node_modules/wrap-ansi/node_modules/ansi-regex/index.d.ts
node_modules/wrap-ansi/node_modules/ansi-regex/index.js
node_modules/wrap-ansi/node_modules/ansi-regex/package.json
node_modules/wrap-ansi/node_modules/ansi-regex/readme.md
node_modules/wrap-ansi/node_modules/strip-ansi/index.d.ts
node_modules/wrap-ansi/node_modules/strip-ansi/index.js
node_modules/wrap-ansi/node_modules/strip-ansi/package.json
node_modules/wrap-ansi/node_modules/strip-ansi/readme.md
